@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.free-post-box-0{
  display: flex; /* 가로 정렬 */
  height:50px;
  font-size: 18px;
  line-height: 42px;
  letter-spacing: 0.05em;
  font-weight: 500;
  border-bottom: 1px solid #ccc; /* 하단 선 */
  width:1400px;
}


.free-post-No{
  text-align: center; /* 텍스트를 수평 중앙 정렬 */
  width:240px;
}
.free-post-box-title{
  text-align: center; /* 텍스트를 수평 중앙 정렬 */
  width:500px;
}
.free-post-user{
  text-align: center; /* 텍스트를 수평 중앙 정렬 */
  width:110px;
}

.free-post-time{
  text-align: center; /* 텍스트를 수평 중앙 정렬 */
  width:400px;
  
}
.free-post-watch{
  text-align: center; /* 텍스트를 수평 중앙 정렬 */
  width:90px;
}
