.calendar-container {
  text-align: center;
}

.month-change-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.month-btn {
  background-color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.month-btn:hover {
  opacity: 0.7;
}

.calendar {
  display: flex;
  flex-direction: column; /* 컬럼 방향으로 정렬 */
  gap: 10px; /* 주 간의 간격 */
  margin-top: 20px;
}

.calendar-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: bold;
  background-color: #f1f1f1;
}

.calendar-body {
  display: flex;
  flex-direction: column; /* 세로로 주를 나누기 위해 컬럼으로 배치 */
  gap: 5px;
}

.calendar-row {
  display: flex;
  justify-content: space-between; /* 날짜를 좌우로 배치 */
}

.calendar-cell {
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  min-height: 60px; /* 셀 높이 */
  font-size: 18px;
}

.calendar-cell.active:hover {
  background-color: #f0f0f0;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
}
